body{
  background-color: blueviolet;
  
}

h1{
    text-align: center;
    font-family: -apple-system, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    color: white;
}

p{
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: bold;
}